*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden !important;
}



@font-face {
    font-family: 'mansfield italic';
    src: url('fonts/mansfield-geometric-sans-serif-2024-08-20-17-33-21-utc/Mansfield\ Bold\ Italic.woff') format('woff');
    font-weight: 800; 
    font-style: italic;
}

@font-face {
    font-family: 'mansfield semibold';
    src: url('fonts/mansfield-geometric-sans-serif-2024-08-20-17-33-21-utc/Mansfield\ Semi\ Bold.woff') format('woff');
    font-weight: 600; 
    font-style: normal;
}

@font-face {
    font-family: 'mansfield bold';
    src: url('fonts/mansfield-geometric-sans-serif-2024-08-20-17-33-21-utc/Mansfield\ Extra\ Bold.woff') format('woff');
    font-weight: 800; 
    font-style: normal;
}

@font-face {
    font-family: 'mansfield';
    src: url('fonts/mansfield-geometric-sans-serif-2024-08-20-17-33-21-utc/Mansfield\ Medium.woff') format('woff');
    font-weight: 500; 
    font-style: normal;
}

@font-face {
    font-family: 'mansfield light';
    src: url('fonts/mansfield-geometric-sans-serif-2024-08-20-17-33-21-utc/Mansfield\ Extra\ Light.woff') format('woff');
    font-weight: 200; 
    font-style: normal;
}


@font-face {
    font-family: 'mansfield boldinho';
    src: url('fonts/mansfield-geometric-sans-serif-2024-08-20-17-33-21-utc/Mansfield\ Bold.woff') format('woff');
    font-weight: 700; 
    font-style: normal;
}

.mansfieldlight{
    font-family: 'mansfield light';
}


.mansfieldItalic{
    font-family: 'mansfield italic';
}

.mansfieldSemiBold{
    font-family: 'mansfield semibold';

}

.mansfieldBold{
    font-family: 'mansfield bold';

}

.mansfield{
    font-family: 'mansfield';
}

.mansfieldBoldinho{
    font-family: 'mansfield boldinho';
}